body {
  @include container-flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  .header-title {
    text-align: center;
  }
}

.container {
  @include container-flex;
  flex-direction: column;
}
