body {
  font-size: 17px;
}

.title {
  text-align: center;
}

.direction {
  display: flex;
  justify-content: center;
  clear: both;
}

.direction > .item {
  margin: 15px;
}

.resolution {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contenedor {
  width: 100%;
}

.contenedordecaja {
  text-align: center;
  width: 100%;
  clear: both;
}

.box {
  width: 550px;
  height: 288px;
  border: 2px solid black;
  text-align: center;
  padding-top: 8%;
  clear: both;
}

.copiar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  clear: both;
}
