body {
  font-size: 17px;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1%;
}

.direction {
  display: flex;
  justify-content: center;
  
}

.direction > .item {
  margin: 15px;
}

.resolution {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.contenedor{
  padding-left: 36%;
  padding-right: 36%;
}

.contenedordecaja {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

.box {
  width: 650px;
  height: 110px;
  border: 2px solid black;
  text-align: left; 
}

.copiar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.numberEfect{
 display: flex;
 justify-content: center;
}
.inputEfect{
  background-color: black;
  color: yellow;
  width:80px ;
  font-size: 20px;
  text-align: center;
  border: 1px solid yellow;
  margin-bottom: 2%;
}
.boxContainer{
  width: 100%;
  display:flex;
  justify-content: start;
  align-items: center;
}
.boxContainer > div{
  margin:5px;
}
.img{
width: 40px !important;
height: 40px !important;
}