.title {
  text-align: center;   
}

.direction {
  display: flex;
  justify-content:center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.direction > .item {
  margin: 15px;
}

.resolution{
  display: flex;
  justify-content:center;
  margin-bottom: 30px;
}

.contenedor{
  padding: 0px;
  margin: 0px;  
}
 
.contenedordecaja{
  display: flex;
  justify-content:center;
  width: 100%;
}
 .box{
  width: 512px;
  height: 288px;
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-top: 10%;
}
.copiar {
  display: flex;
  justify-content:center;
  margin-top: 10px;
}